USE [master]
GO
/****** Object:  Database [quanlytaukhach]    Script Date: 7/18/2015 11:28:04 PM ******/
CREATE DATABASE [quanlytaukhach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlytaukhach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\quanlytaukhach.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'quanlytaukhach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\quanlytaukhach_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlytaukhach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlytaukhach]
GO
/****** Object:  Table [dbo].[chonquyen]    Script Date: 7/18/2015 11:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[chonquyen](
	[maquyen] [varchar](50) NOT NULL,
	[tenquyen] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maquyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[congtyvantai]    Script Date: 7/18/2015 11:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[congtyvantai](
	[mact] [varchar](50) NOT NULL,
	[tenct] [nvarchar](50) NULL,
	[sdt] [varchar](50) NULL,
	[diachi] [nvarchar](50) NULL,
	[giamdocdh] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[mact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hanhkhach]    Script Date: 7/18/2015 11:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hanhkhach](
	[mahk] [varchar](50) NOT NULL,
	[tentk] [nvarchar](50) NULL,
	[sdt] [varchar](50) NULL,
	[giaycm] [int] NULL,
	[matk] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[mahk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ngayxuatben]    Script Date: 7/18/2015 11:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ngayxuatben](
	[manam] [int] NOT NULL,
	[ngayxb] [date] NULL,
	[mota] [ntext] NULL,
	[matk] [varchar](50) NULL,
	[mahk] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[manam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[taikhoan]    Script Date: 7/18/2015 11:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[taikhoan](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NULL,
	[hoten] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[maquyen] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[taukhach]    Script Date: 7/18/2015 11:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[taukhach](
	[matk] [varchar](50) NOT NULL,
	[tentk] [nvarchar](50) NULL,
	[thientruong] [nvarchar](50) NULL,
	[tuyenduong] [nvarchar](50) NULL,
	[tocdo] [varchar](50) NULL,
	[giave] [money] NULL,
	[hinhanh] [image] NULL,
	[mact] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[matk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[chonquyen] ([maquyen], [tenquyen]) VALUES (N'admin', N'adminsitartor')
INSERT [dbo].[chonquyen] ([maquyen], [tenquyen]) VALUES (N'employee', N'employee')
INSERT [dbo].[congtyvantai] ([mact], [tenct], [sdt], [diachi], [giamdocdh]) VALUES (N'cdsc', N'csdc', N'csdc', N'sdcsd', N'sdcsdc')
INSERT [dbo].[congtyvantai] ([mact], [tenct], [sdt], [diachi], [giamdocdh]) VALUES (N'ct_afc417', N'cong ty van tai afc', N'2123223434', N'long hai', N'nguyen trong quyen')
INSERT [dbo].[congtyvantai] ([mact], [tenct], [sdt], [diachi], [giamdocdh]) VALUES (N'ct_afcpq', N'phu quy afc', N'3834473443', N'tam thanh', N'van thai su')
INSERT [dbo].[hanhkhach] ([mahk], [tentk], [sdt], [giaycm], [matk]) VALUES (N'efe', N'fefe', N'34343', 423434, N'tk_07')
INSERT [dbo].[hanhkhach] ([mahk], [tentk], [sdt], [giaycm], [matk]) VALUES (N'hk_01', N'nguyen vinh', N'23321', 1223333, N'tk_18')
INSERT [dbo].[hanhkhach] ([mahk], [tentk], [sdt], [giaycm], [matk]) VALUES (N'yfyf', N'yfyg', N'787876', 756767, N'tk_07')
INSERT [dbo].[taikhoan] ([username], [password], [hoten], [email], [maquyen]) VALUES (N'thanhtuyenafc', N'tuyen123', N'nguyen thanh tuyen', N'tuyen@gmail.com', N'admin')
INSERT [dbo].[taikhoan] ([username], [password], [hoten], [email], [maquyen]) VALUES (N'trongquyenafc', N'trongquyen777', N'nguyen trong quyen', N'trongquyen@gmail.com', N'admin')
ALTER TABLE [dbo].[hanhkhach]  WITH CHECK ADD FOREIGN KEY([matk])
REFERENCES [dbo].[taukhach] ([matk])
GO
ALTER TABLE [dbo].[ngayxuatben]  WITH CHECK ADD FOREIGN KEY([mahk])
REFERENCES [dbo].[hanhkhach] ([mahk])
GO
ALTER TABLE [dbo].[ngayxuatben]  WITH CHECK ADD FOREIGN KEY([matk])
REFERENCES [dbo].[taukhach] ([matk])
GO
ALTER TABLE [dbo].[taikhoan]  WITH CHECK ADD FOREIGN KEY([maquyen])
REFERENCES [dbo].[chonquyen] ([maquyen])
GO
ALTER TABLE [dbo].[taukhach]  WITH CHECK ADD FOREIGN KEY([mact])
REFERENCES [dbo].[congtyvantai] ([mact])
GO
USE [master]
GO
